<head>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>Reset password</title>
</head>

<body class="page">
  
<form action="/auth/resetpass" method="POST">
  <label for="newPassword" id="new-pass">New Password:</label>
  <input type="password" class="new-pass-input" id="newPassword" name="newPassword" required>

  <label for="confirmPassword" id="con-pass">Confirm Password:</label>
  <input type="password" class="con-input" id="confirmPassword" name="confirmPassword" required>

  <button type="submit" id="res-pass-botton">Reset Password</button>
</form>
</body>