<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
<title>Document</title>
</head>
<body>
  
</body>
</html>
<body class="page" id="sign-in">
  <%- include('../partials/_navbar.ejs') %>
  <div class="sign-in">
  <h1 id="h1-sign-in">Sign In</h1>
  <form action="/auth/sign-in" method="POST">
    <label id="username-sign-in">Username:</label>
    <input type="text" name="username" id="username-in" />

    <br />

    <label id="password-sign-in">Password:</label>
    <input type="password" name="password" id="password-in" />

    <br />

    <button type="submit" id="submit-sign-in">Sign In</button>
    </div>
  </form>
</body>