<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
<title>Document</title>
</head>
<body>
  
</body>
</html>
<body class="page">
  <%- include('../partials/_navbar.ejs') %>
  <div class="sign-up">
  <h1 id="h1-create-new">Create a new account</h1>
  <form action="/auth/sign-up" method="POST">
    <label id="username-sign-up">Username:</label>
    <input type="text" name="username" id="username-up" />

    <br />

    <label id="password-sign-up">Password:</label>
    <input type="password" name="password" id="password-up" />

    <br />

    <label id="confirm-password">Confirm Password:</label>
    <input type="password" name="confirmPassword" id="confirmPassword-signUp" />

    <br />


    <button type="submit" id="submit-sign-up">Sign Up</button>
  </form>
  </div>
</body>