<head>
  <title>Profile</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
  <%- include('./partials/_navbar.ejs') %>

  <div class="profile-container">
    <h1>User Profile</h1>
    <img
      src="<%= user.profilePicture %>"
      alt="Profile Picture"
      style="border-radius: 50%; width: 100px; height: 100px"
    />

    <h2>Welcome, <%= user.username %></h2>
  </div>

  <div class="form-container">
    <h3>Update Profile Picture</h3>
    <form
      action="/profile-picture/upload"
      method="POST"
      enctype="multipart/form-data"
    >
      <input type="file" name="profilePicture" accept="image/*" required />
      <button type="submit">Upload</button>
    </form>
  </div>
</body>
